<p>Hello!</p>

<form action="/hackernews/create" method="post">
	<input name="title" type="text" />
	<input name="link" type="text" />
	<input name="body" type="text" />
	<button type="submit">Submit Post</button>
</form>