<div class='row'>
<form action="/home/create" method="post" >
	<div> Link<input type="text" name="link"/> </div>
	<div> Title<input type="text" name="title"/> </div>
	<div> Body <textarea name="body" cols= 20 rows=5></textarea> </div>
	<button type="submit">Create Post</button>
</form>
</div>
