	
<form action="/hacknews/<%=@story_id %>/addcomments" method ="post">
<div>Author name:<input name="author" type="text"></div>
<div>Comment text:<textarea name="body" cols="20" rows="5"></textarea></div>
<button type="submit">Submit your posts</button>
</form>


