<div class="top_menu">
<a href="/new">Submit</a>
<!-- <a href="/new">Comments</a>
<a href="/new"></a> -->
</div>

<% @stories.each do |story| %>

<div class="story-body">
	<a href="<%= story.id %>"><h2><%= story.title %></h2></a>
	<%= story.body %>
</div>

<% end %>

