<!DOCTYPE html>
<html>

<head>
	<title>Hacker News</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" type="image/png" href="https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/260393_181496591905630_724195_n.jpg" />
</head>

<body>
<%= yield %>
</body>
</html>