<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/styles.css">
	<SCRIPT LANGUAGE="JavaScript">
		function testResults (form) {
			var TestVar = form.inputbox.name; alert("You typed: " + TestVar);
		}
	</SCRIPT>

	<title></title>
</head>
<body>
	<%= yield %>
</body>
</html>