<!DOCTYPE html>
<html>
<head>
	<title>WDI: Newslink</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="utf-8">
</head>
<body>
 <div class="header-box">
   <div class="inline-title"><a href="/newslink/">Newslink: Your source for news</a></div> | <a href="/newslink/recent"><div class="inline">new</div></a> | <a href="/newslink/submit"><div class="inline">submit</div></a>
 </div>

<%= yield %>

</body>
</html>