<!DOCTYPE html>
<html>
<head>
	<title>WDI: Newslink</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="utf-8">
</head>
<body>
 <div class="header-box">
   <h1>Newslink!</h1>
   <h2>Your Source for News!</h2>
 </div>
 
<%= yield %>

</body>
</html>