<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Hacker News</title>
</head>
<body>
	<div class="box">
	<div class="header">
		<ul id="inline-list">
			<li><img src="https://news.ycombinator.com/y18.gif" /></li>
			<li><a href="/hackernews">Hacker News</a></li>
			<li><a href="/hackernews/new">new</a></li>
			<li>comments</li>
			<li>ask</li>
			<li>jobs</li>
			<li>submit</li>
		</ul>
	</div>
<div class="passed">
<%= yield %></div>
</div>
</body>
</html>