<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Hacker News</title>
</head>
<body>
	<div class="header">
		<ul id="inline-list">
			<li><a href="/hackernews">Hacker News</a></li>
			<li>new</li>
			<li>comments</li>
			<li>ask</li>
			<li>jobs</li>
			<li>submit</li>
		</ul>
	</div>
<div></div>
<div class="passed">
<%= yield %></div>
</body>
</html>