<form action="/hacknews/<%=@story.id%>/update" method='post'>
	<input name="title" type="text"/>
	<textarea name="text"></textarea>
	<button type="submit">Submit your edits Post</button>
</form>





















