<p>
	<form action="/posts/create" method="post">
		<div><label for="title">Title:</label><input type="text" name="title" class="fieldset" /></div><br/>
		<div><label for="link">URL:</label><input type="text" name="link" class="fieldset" /></div><br/>
		<h3>OR</h3><br/>
		<div><label for="body">Body:</label><textarea name="body" cols="60" rows="10" class="fieldset"></textarea></div>
		<br/><br/>
		<button type="submit" class="button_margin">Submit article</button>
	</form>
</p>