<div class="add-new-post-box">
  <h2>Share your links:</h2>
    <form action="/newslink/new" method="post">
      <div>Title: <input type="text" name="title"></div>
      <div>Link: <input type="text" name="link" value="http://"></div>
      <button type="submit">Submit</button>
    </form>
</div>
