<p>
	<form action="/posts/<%= @post.id %>/update" method="post">
		<div><label for="title">Title:</label><input type="text" name="title" class="fieldset" value="<%= @post.title %>"/></div><br/>
		<div><label for="link">URL:</label><input type="text" name="link" class="fieldset" value="<%= @post.link %>"/></div><br/>
		<h3>OR</h3><br/>
		<div><label for="body">Body:</label><textarea name="body" cols="60" rows="10" class="fieldset"><%= @post.body %></textarea></div>
		<br/><br/>
		<button type="submit" class="button_margin">Update Post</button>
	</form>
</p>