
<h2>New Post</h2>
<form action="/hackernews/create" method="post">
	<ul>
	<li><p>TITLE</p><input name="title" type="text" /></li>
	<li><p>LINK</p><input name="link" type="text" /></li>
	<li><p>TEXT</p><input name="body" type="text" /></li>
	</ul>
	<div class="button">
		<button type="submit">Submit Post</button>
	</div>
</form>

