<form action="/story/create" method="post" accept-charset="utf-8">
<p>Title</p><input type="text" name="title"/>
<p>Body</p><input type="text" name="body"/>
<p>Link</p><input type="text" name="link"/>
<br/>
<br/>
<br/>
<button type="Submit">Create A Story</button>
</form>