<form action="/create" method="post">

	<div>
		Title: <input type="text" name="title" />
	</div>
	
	<div>
		Author: <input type="text" name="author" />
	</div>

	<div>
		Body: <textarea name="body" cols="60" rows="10"></textarea>
	</div>

	<button type="submit">Create Story</button>
	
</form>