<form action="/hackernews/create" method="post">
	Title: <div class="title"><input type="text" name="title" /></div>
	URL: <div class="url"><input type="text" name="url" /></div>
	Body: <div class="body"><textarea name="body" cols=60 rows=10></textarea></div>
	Upvote? <div class="upvotes"><input type="integer" name="upvotes" /></div>
	Downvote? <div class="downvotes"><input type="integer" name="downvotes" /></div>
	<button type="submit">Submit Story</button>
</form>