.top_menu {
	font-style: Verdana;
	font-size: 20px;
	color: orange;
	height:30px;
	width:85%;
	border: solid black;
}




body {
	font-style: Verdana;
	font-size: 20px;
	color: #828282;
}


.story-body {
text-align:justify;
}
