body {
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
img {
	border: 1px solid white;
	margin-left: 3px;
	margin-top: 3px;
}
.nav_bar {
	width: 1000px;
	margin-left: 40px;
	margin-right: 40px;
	background-color:#ff4500	;
	display: inline-block;
}

.row {
	width: 1000px;
	margin-left: 40px;
	margin-right: 40px;
	background-color:#faf0e6;
}

.left_nav {
	float: left;

}

.right_nav {
	float: right;
	padding-top: 6px;
	padding-right: 3px;
}



/*.full-column {
	margin: auto;
	width: 1000px;
	background-color:#faf0e6;
}*/